*{
	margin: 0;
	padding: 0;
	font-family: arial;
}

html{
	background-color: #B89FCF;
	/*background-image: url(img/background2.png);*/
}

body{
	padding-top: 30px;
	width: 1000px;
	margin: 0 auto;

}

header{
	background-color: #EEEEEE;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

main{
	background-color: #EEEEEE;
}

.wrapper{
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
}

.namebox .wrapper{
	height: 100px;
	font-size: 36px;
	display: flex;
	align-items: center;
}

.headerbuttons{
	background-color: #E46628;
	height: 40px;
}

.headerbuttons .wrapper{
	display: flex;
	align-items: center;
}

.headerbuttons a{
	text-decoration: none;
	color: #000000;
	padding-right: 10px;
}

.headerbuttons button{
	text-decoration: none;
	color: #000000;
	padding-right: 10px;
}



.banner{
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	justify-content: center;
}

.mainboxes{
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	justify-content: space-between;
}

.standardsidebar{
	width: 250px;
}

.topbar{
	text-align: center;
	margin-bottom: 5px;
	height: 30px;
	border-bottom: 1px solid;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bookimages{
	padding-top: 5px;	
	background-color: #FFFFFF;
}

.bookimages img{
	height: 250px;
	width: 200px;
}

#slideshow { 
    margin: 10px auto;
    position: relative; 
    width: 200px; 
    height: 240px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

.news{
	padding-top: 5px;
	margin-top: 30px;
	background-color: #FFFFFF;
}

.socials{
	padding-top: 5px;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #FFFFFF;
}

.socials img{
	height: 75px;
	width: 75px;
}

.socials-row{
	display: flex;
	justify-content: space-around;
	padding-top: 10px;
	padding-bottom: 10px;
}

.contactboxes{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contactform{
	height: 320px;
	width: 640px;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.contactinformation{
	height: 320px;
	width: 640px;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.contactinformation img{
	height: 75px;
	width: 75px;
	padding: 10px;
	padding-bottom: 0;
}

footer .wrapper p{
	width: 100%;
	color: #7E7E7E;
}

footer .wrapper{
	display: flex;
	align-items: center;
}

.madeby{
	float: right;
}

footer{
	height: 50px;
	background-color: #FFFFFF;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}