*{
	margin: 0;
	padding: 0;
	font-family: arial;
}

html{
	background-image: url(../../img/background2.png);
}

body{
	padding-top: 30px;
	width: 1000px;
	margin: 0 auto;

}

header{
	background-color: #EEEEEE;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

main{
	background-color: #EEEEEE;
}

.wrapper{
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
}

.namebox .wrapper{
	height: 100px;
	font-size: 36px;
	display: flex;
	align-items: center;
}

.headerbuttons{
	background-color: #E46628;
	height: 40px;
}

.headerbuttons .wrapper{
	display: flex;
	align-items: center;
}

.headerbuttons a{
	text-decoration: none;
	color: #E8E8E8;
	padding-right: 10px;
}

.headerbuttons button{
	text-decoration: none;
	color: #E8E8E8;
}

.dropbtn {
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #E46628;
	height: 40px;
	color: white;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #DE8255;
}

.banner{
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	justify-content: center;
}

.mainboxes{
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	justify-content: space-between;
}

.standardsidebar{
	width: 250px;
}

.topbar{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	color: #E8E8E8;
	background:linear-gradient(to bottom, #f0824a 5%, #e46728 100%);
	background-color:#f0824a;
	text-align: center;
	margin-bottom: 5px;
	height: 30px;
	border-bottom: 1px solid;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bookimages{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	padding-bottom: 5px;
	background-color: #FFFFFF;
}

.bookimages img{
	height: 250px;
	width: 200px;
}

#slideshow { 
    margin: 10px auto;
    position: relative; 
    width: 200px; 
    height: 240px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

.show{
	display: block;
}

.hide{
	display: none;
}

.news{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	margin-top: 30px;
	background-color: #FFFFFF;
}

.socials{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #FFFFFF;
}

.socials img{
	height: 75px;
	width: 75px;
}

.socials-row{
	display: flex;
	justify-content: space-around;
	padding-top: 10px;
	padding-bottom: 10px;
}

.boekenwrapper{
	flex-direction: column;
	display: flex;
	justify-content: space-around;
	text-align: center;
	width: 640px;
	background-color: #FFFFFF;
}

.booktext{
	width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.bookbuttons {
	width: 150px;
	margin: 0 auto;
	box-shadow: 0px 10px 14px -7px #dba88f;
	background:linear-gradient(to bottom, #f0824a 5%, #e46728 100%);
	background-color:#f0824a;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color: #E8E8E8;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #de7e54;
}
.bookbuttons:hover {
	background:linear-gradient(to bottom, #e46728 5%, #f0824a 100%);
	background-color:#e46728;
}

.boekenwrapper img{
	margin: 0 auto;
	width: 400px;
	height: 300px;
}

.bookboxmaintext{
	display: flex;
	justify-content: space-around;
}

.bookbox img{
	height: 300px;
	width: 250px;
}

.bookbox h1{
	font-size: 30px;
}

footer .wrapper p{
	width: 100%;
	color: #7E7E7E;
}

footer .wrapper{
	display: flex;
	align-items: center;
}

.madeby{
	float: right;
}

footer{
	height: 50px;
	background-color: #FFFFFF;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}